@font-face {
    font-family: 'disket_monobold';
    src: url('/style/fonts/disket-mono-bold-webfont.woff2') format('woff2'),
         url('/style/fonts/disket-mono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'disket_monoregular';
    src: url('/style/fonts/disket-mono-regular-webfont.woff2') format('woff2'),
         url('/style/fonts/disket-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}